.hero {
  background: url("/images/hero-bg.png");
  min-height: 250px; // the height of the bg image
  position: relative;
  .namecard {
    width: 200px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.8);;
    .avatar {
      width: 100px;
      margin: 20px auto;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
    h1 {
      text-align: center;
      font-weight: normal;
      font-size: 140%;
      margin: 0;
    }
    .email {
      text-align: center;
      font-size: 80%;
      overflow: hidden;
    }
  }

  .new-book-btn {
    display: block;
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    border-radius: 6px;
    color: #FFF;
    background-color: #D63030;
    &:hover {
      background-color: lighten(#D63030, 10%);
    }
  }
}