.head {
  position: relative;
  .namecard {
    width: 200px;
    height: 250px;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    .avatar img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      opacity: 1;
    }
    h1 {
      text-align: center;
      color: #536378;
      font-weight: normal;
      font-size: 140%;
      margin: 0;
    }
    .email {
      color: #BAC1C9;
      text-align: center;
      font-size: 80%;
      overflow: hidden;
    }
  }
}