@import "globals/variables";

$header-bg-color: #323A45;

.header {
  background: white;
  height: 50px; /* learn from dribble.com. sometimes it's nice to go without .clearfix */
  #logo {
    font-size: 13px;
    line-height: 50px;
    text-align: center;
    width: 200px;
    color: white;
    float: left;
    background: $brand-dark;
  }
}

.left-col {
  width: 200px;
  float: left;
}
.right-col {
  width: 650px; // one book item is width = 150 + 10x2 + 20x2 = 210, 210x3=630, has to add sth more, don't know why
  float: right;
}

ul#nav {
  margin: 0;
  li {
    float: right;
    font-size: 13px;
    a {
      color: #999;
      text-decoration: none;
      display: block;
      padding: 0 18px;
      font-weight: bold;
      height: 50px;
      line-height: 50px;
    }
  }
  li#user-info {
    img {
      width: 30px;
      height: 30px;
      padding: 10px 0;
      border-radius: 50%;
    }
  }
}

.main {
  background: white;
  -webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.footer {
  min-height: 80px;
  padding-top: 21px;
  position: relative;
  .footer-icon {
    display: block;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50% ;
    border-radius: 50% ;
    background: #999;
    &:hover {
      background: #666;
    }
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -10px;
  }
}
.footer-links.right {
  float: right;
}

ul.footer-links {
  float: left;
  li {
    margin-left: 10px;
    color: #999;
    display: inline-block;
    line-height: 16px;
  }
}