@import "globals/variables";

.header {
  background: white;
  height: 70px; /* learn from dribble.com. sometimes it's nice to go without .clearfix */
  #logo {
    line-height: 70px;
    text-align: center;
    width: 200px;
    color: white;
    float: left;
    background: $brand-dark;
  }
  .search {
    float: left;
    padding: 20px;
    input[type=text] {
     height: 30px;
     border:none;
     outline:none;
     background:transparent;
     text-indent: 5px;
   }
 }
}


ul#nav {
  margin: 0;
  float: right;
  li {
    float: left;
    a {
      text-decoration: none;
      display: block;
      padding: 0 18px;
      height: 70px;
      line-height: 70px;
    }
    a.sign-out {
      font-size: 25px;
    }
    img {
      float: left;
      width: 30px;
      height: 30px;
      padding: 20px 0;
      border-radius: 50%;
      margin-right: 5px;
    }
  }
}

.page {
  -webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.main {
  background: white;
}

.footer {
  min-height: 80px;
  padding-top: 21px;
  background: white;
  position: relative;
  .footer-icon {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -20px;
  }
}

.footer-links.right {
  float: right;
}

ul.footer-links {
  float: left;
  li {
    margin: 20px;
    color: #999;
    display: inline-block;
    line-height: 16px;
  }
}