@import "globals/variables";
$user-detail-content-bg: #EAEDF1;
.user-detail-nav {
  .user-detail-list {
    background: $brand-dark;
    float: left;
    height: 620px;
    width: 200px;
  }
  .user-detail-content {
    width: 760px;
    float: right;
    height: 620px;
    background: $user-detail-content-bg;
  }
  ul {
    li a {
      display: block;
      text-align: center;
      line-height: 50px;
      color: white;
      &:hover {
        color: #ccc;
      }
    }
    li.active a {
      color: yellow;
    }
  }
}