<ul class="book-list">
  <li class="book1"><a href="">
    <img src="https://s3.amazonaws.com/titlepages.leanpub.com/hands-on-nodejs/large?1352289061" alt="" />
    </a>
  </li>
  <li class="book2"><a href=""><img src="https://s3.amazonaws.com/titlepages.leanpub.com/codebright/large?1385420819" alt="" />
    </a>
  </li>
  <li class="book3">
    <a href=""><img src="https://s3.amazonaws.com/titlepages.leanpub.com/build-apis-you-wont-hate/large?1385395345" alt="" />
    </a>
  </li>
  <li class="book4">
    <a href="">
      <img src="https://s3.amazonaws.com/titlepages.leanpub.com/characterhooks/large?1385430423" alt="" />
    </a>
  </li>
  <li class="book5">
    <a href="">
      <img src="https://s3.amazonaws.com/titlepages.leanpub.com/everydayrailsrspec/large?1383017471" alt="" />
    </a>
  </li>
</ul>