<div class="follow-faces">
  <li class="follow-face">
    <a href="#">
      <img src="images/face4.jpg" alt="">
    </a>
    <a href="#">
      @Juicy
    </a>
  </li>
  <li class="follow-face">
    <a href="#">
      <img src="images/face5.jpg" alt="">
    </a>
    <a href="#">
      @Juicy
    </a>
  </li>
  <li class="follow-face">
    <a href="#">
      <img src="images/face6.jpg" alt="">
    </a>
    <a href="#">
      @Juicy
    </a>
  </li>
</div>