
<div class="footer cf">
  <a href="" class="footer-icon"><i class="fa fa-trophy"></i></a>
  <ul class="footer-links">
    <li><a href="">Contact Us</a></li>
    <li><a href="">Join Us</a></li>
    <li><a href="">Blog</a></li>
  </ul>
  <ul class="footer-links right">
    <li><a href="">Shop</a></li>
    <li><a href="">API</a></li>
    <li><a href="">Terms</a></li>
  </ul>
</div>
