
<div class="footer cf">
  <a href="" class="footer-icon"><i class="fa fa-trophy"></i></a>
  <ul class="footer-links">
    <li><a href="">Contact Us</a></li>
    <li><a href="">Join Us</a></li>
    <li><a href="">Blog</a></li>
  </ul>
  <ul class="footer-links right">
    <li>
      <a href="http://dribbble.com/shots/1264267-Skatestore-Theme/attachments/173254">
        Design@dribble
      </a>
    </li>
    <li>
      <a href="http://codepen.io/collection/zqAep">
        SourceCode@codepen
      </a>
    </li>
    <li><a href="">Terms</a></li>
  </ul>
</div>
