
<div class="footer cf">
  <a href="#" class="footer-icon"><i class="fa fa-trophy"></i></a>
  <ul class="footer-links">
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>
  <ul class="footer-links right">
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
  </ul>
</div>
