  <div class="header">
    <div id="logo">
      阴天好读书
    </div>
    <div class="nav">
      <ul id="nav">
        <li id="user-info"><a href="#">happypeter</a></li>
        <li id="user-info"><img src="images/peter.jpeg" alt="" /></li>
        <li><a href="#">About</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>
  </div>
