  <div class="header container">
    <div id="logo">
      LOGO
    </div>
    <div class="nav">
      <ul id="nav">
        <li id="user-info"><a href="#">happypeter</a></li>
        <li id="user-info"><img src="http://gravatar.com/avatar/a92785d8d68f1d1d83b008574f8b5dba?s=80" alt="" /></li>
        <li><a href="#">About</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>
  </div>
