  <div class="header">
    <div id="logo">
      阴天好读书
    </div>
    <div class="search">
      <input type="text" placeholder="search">
    </div>
    <div class="nav">
      <ul id="nav">
        <li><a href="">关于我们</a></li>
        <li><a href="">FAQ</a></li>
        <li>
          <a href="">
            <img src="images/peter.jpeg" alt="" />
            happypeter
          </a>
        </li>
        <li>
          <a class="sign-out" title="退出登录" href="">
            <i class="fa fa-sign-out"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
