<div class="hero">
  <div class="namecard">
    <div class="avatar">
      <img src="images/peter.jpeg" alt="">
    </div>
    <h1 class="name">Peter Wang</h1>
    <div class="email">happypeter1983@gmail.com</div>
  </div>
  <a href="" class="new-book-btn">
    发布一本新书
  </a>
</div>