<div class="name-card">
  <div class="name-avatar-email">
    <div class="avatar">
      <img src="http://haoqicat.com/uploads/avatar/47d00feb0ac.jpg" alt="avatar" />
    </div>
    <div class="name-email">
      <h1 class="name">Peter Wang</h1>
      <div class="email">happypeter1983@gmail.com</div>
    </div>
  </div>
  <div class="fllower-following">
    <div class="follower"><a href="#">follower<br>5</a></div>
    <div class="following"><a href="#">following<br>3</a></div>
  </div>
</div>