<div class="user-detail-nav cf">
  <div class="user-detail-list">
    <ul>
      <li><a href="">follower</a></li>
      <li><a href="">following</a></li>
      <li><a href="">watched books</a></li>
      <li><a href="">My Books</a></li>
      <li class="active"><a href="">Data</a></li>
    </ul>
  </div>
  <div class="user-detail-content">
    <%= partial 'book_lists/mine' %>
  </div>
</div>