---
title: main page
---

<div class="main cf">
  <div class="container">
    <div class="left-col">
      <%= partial 'name_card' %>
    </div>
    <div class="right-col">
      <%= partial 'sub_nav' %>
    </div>
  </div>
</div>